<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="utf-8" />
  </head>
  <body style="height: 100%; margin: 0">
    <div
      id="container"
      style="position: absolute; left: 400px; top: 100px; height: 400px; width: 600px"
    ></div>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"
    ></script>
    <script type="text/javascript">
      var dom = document.getElementById('container');
      var myChart = echarts.init(dom);
      var app = {};
      var option;

      var x_axis = [];
      var x_data = 0;
      var y_axis = [];
      var y_data = 0;
      var angle = 0;

      // 计算三角函数
      function sin_data(x) {
        return Math.sin(x * Math.PI);
      }
      // 生成x轴和y轴数据
      function addData(shift) {
        x_data++;
        x_axis.push(x_data);

        y_data = 10 * sin_data(angle);
        y_axis.push(y_data);
        angle += 0.1;

        if (shift) {
          x_axis.shift();
          y_axis.shift();
        }
      }

      // 生成100个数据，初始化x_axis和y_axis数组，数组的长度在这里被设置成100
      for (var i = 0; i < 100; i++) {
        addData(false);
      }

      option = {
        animationDuration: 10000,
        xAxis: {
          type: 'category',
          data: x_axis,
        },
        yAxis: {
          type: 'value',
        },
        series: [
          {
            data: y_axis,
            type: 'line',
          },
        ],
      };

      setInterval(function () {
        addData(true); // 生成数据并左移
        console.log(x_axis, y_axis)
        myChart.setOption(option);
      }, 200); // 500ms刷新一次
    </script>
  </body>
</html>
